.logo img{
    height: 50px;
    width: auto;
}
.header{
    width: 100%;
    background-color: #fff;
    padding: 15px 0; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);   
}
.header__container{
    display: flex;
    justify-content: space-between;
}
.right__box{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;    
}
ul.nav{
    display: flex;
    gap: 30px;    
}
ul.nav a {
    transition: 0.3s ease;
    color: var(--primary-red);
}
ul.nav a:hover{
    color: var(--primary-dark-red);
}
.cart__items{
    background-color: var(--primary-dark-red);
    padding: 6px 10px;
}
.footer__wave{
    line-height: 0;
    margin-top: -150px;
    position: relative;
    z-index: -5;
}
.footer__wave svg{
    fill: var(--primary-dark-red);    
}
footer.footer{
    background-color: var(--primary-dark-red);
    color: #fff;
}
footer.footer .inner{
    padding: 0 0 80px;
    text-align: center;
}
footer.footer .inner h3{    
    font-weight: 400;
    letter-spacing: 2px;
}
footer.footer .inner img.logo{
    height: 50px;
    width: auto;
}
footer.footer .inner ul.socialLinks{
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 1.8rem;
    margin-top: 20px;
}
