/* :root{
  --primary-red: #DD5353;
  --primary-dark-red: #B73E3E;
  --peach: #DBC8AC;
  --light: #EDDBC0;
} */
:root{
  --primary-red: #E64848;
  --primary-dark-red: #C21010;
  --peach: #FFFDE3;
  --light: #EEE;
  --text-color: #5f5f5f;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
.container{
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
}
.title_wrap span{
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--primary-dark-red);
  font-weight: 600;
}
.title_wrap h2{
  color: #222;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 15px;
}
p{
  margin: 0 0 0.75rem;
}
a.primary__btn{
  background-color: var(--primary-red);
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.3s ease;
}
a.primary__btn:hover{
  background-color: var(--primary-dark-red);
}
section{
  padding: 50px 0;
}

.text-center{
  text-align: center;
}
.slick-prev:before, .slick-next:before{
  color: var(--primary-dark-red) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--text-color);
    background: #fff;
  }
}
